<html lang="{{ language }}">
<head>
    <title></title>
    <style>
        .message-box {
            color: #050505;
            border: 1px solid #f0f0f0;
            background-color: white;
            padding: 30px;
            font-size: 16px;
            font-family: monospace;
        }

        .logo {
            text-align: center;
        }

        .reset-btn-container {
            padding: 10px 0;
            position: relative;
        }

        .reset-btn {
            background-color: #7d00fa;
            color: white;
            padding: 12px 20px;
            cursor: pointer;
        }

    </style>
</head>
<body>

<table class="message-box">
    <tbody>
    <tr>
        <td class="logo">
            <img src="{{logo}}" alt="VibeSign Logo"/>
        </td>
    </tr>
    <tr>
        <td>
            {{! We need 3 brackets in next line so Handlebars won't espace HTML from expression }}
            {{{ translate 'mail.forgot-password.welcome' user }}}

            <p>{{ translate 'mail.forgot-password.with-button'}}</p>

            <p class="reset-btn-container">
                <a href="{{resetLink}}" class="reset-btn">
                    {{ translate 'mail.forgot-password.button'}}
                </a>
            </p>

            <p class="reset-link">
                {{ translate 'mail.forgot-password.with-link'}} <br>
                <a href="{{resetLink}}">{{{resetLinkText}}}</a>
            </p>

            {{! We need 3 brackets in next line so Handlebars won't espace HTML from expression }}
            {{{ translate 'mail.forgot-password.goodbye' user }}}
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
