<html lang="{{ language }}">
<head>
    <title></title>
    <style>
        .message-box {
            color: #050505;
            border: 1px solid #f0f0f0;
            background-color: #fafafa;
            max-width: 100%;
            margin: 25px;
            padding: 30px;
            overflow: auto;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            font-family: monospace;
        }

        .logo {
            margin: 20px 0;
            text-align: center;
        }

        .logo img {
            max-height: 100px;
            max-width: 60%;
        }

        .reset-btn {
            background-color: #7d00fa;
            color: white;
            padding: 12px 20px;
            border-radius: 50px;
            text-decoration: none;
            cursor: pointer;
        }
        .reset-link, .reset-link a {
            word-break: break-all;
        }
    </style>
</head>
<body>
    <div class="message-box">

        <div class="logo">
            <img src="{{logo}}" alt="VibeSign Logo" />
        </div>

        {{! We need 3 brackets in next line so Handlebars won't espace HTML from expression }}
        {{{ translate 'mail.forgot-password.welcome' user }}}

        <p>{{ translate 'mail.forgot-password.with-button'}}</p>

        <p>
            <a href="{{resetLink}}" class="reset-btn">{{ translate 'mail.forgot-password.button'}}</a>
        </p>

        <p class="reset-link">
            {{ translate 'mail.forgot-password.with-link'}} <br>
            <a href="{{resetLink}}">{{resetLink}}</a>
        </p>

        {{! We need 3 brackets in next line so Handlebars won't espace HTML from expression }}
        {{{ translate 'mail.forgot-password.goodbye' user }}}

    </div>
</body>
</html>
